<xstr-header></xstr-header>
<div class="app-body">
  <xstr-sidebar></xstr-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <xstr-breadcrumbs></xstr-breadcrumbs>
      <!-- Breadcrumb Menu-->
      <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <a class="btn" [routerLink]="['/']"><em class="icon-speech"></em></a>
          <a class="btn" [routerLink]="['/dashboard']"><em class="icon-graph"></em> &nbsp;Dashboard</a>
          <a class="btn" [routerLink]="['/']"><em class="icon-settings"></em> &nbsp;Settings</a>
        </div>
      </li>
    </ol>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.conainer-fluid -->
  </main>
  <xstr-aside></xstr-aside>
</div>
<xstr-footer></xstr-footer>
