<p>
  media works! dtected type = {{mediaType}}
</p>
<p>
  this id = {{id}}
</p>
<p>
  this se = {{se}}
</p>

<!--<a routerLink="./w" >Watch</a>-->
<!-- <a md-raised-button [routerLink]="['./']">Overview</a>
<a md-raised-button [routerLink]="['w']">Watch</a>
<a md-raised-button [routerLink]="['reviews']">Reviews</a> -->
<!-- <nav md-tab-nav-bar>
  <a md-tab-link
     [routerLink]="['.']"
     routerLinkActive #rla="routerLinkActive"
     [active]=rla.isActive>
    Overview
  </a>
  <a md-tab-link
     [routerLink]="['w']"
     routerLinkActive #rlb="routerLinkActive"
     [active]=rlb.isActive>
    Watch
  </a>
  <a md-tab-link
     [routerLink]="['reviews']"
     routerLinkActive #rlc="routerLinkActive"
     [active]=rlc.isActive>
    Reviews
  </a>
</nav> -->

<nav md-tab-nav-bar>
  <a md-tab-link
     *ngFor="let link of sublinks"
     [routerLink]="link.routerlink"
     [active]=isActivated(link.routerlink)>
    {{link.title}}
  </a>
</nav>
<router-outlet></router-outlet>
