<header class="xstr-header navbar">
  <button class="navbar-toggler d-lg-none" type="button" xstrMobileSidebarToggler>
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler d-md-down-none mr-auto" type="button" xstrSidebarToggler>
    <span class="navbar-toggler-icon"></span>
  </button>
  <button class="navbar-toggler d-md-down-none" type="button" xstrAsideMenuToggler>
    <span class="navbar-toggler-icon"></span>
  </button>
</header>
