<p>
  browse works!
</p>
<ul>
  <li><a routerLink="/browse/mv/df" routerLinkActive="active">movie error</a></li>
  <li><a routerLink="/browse/mv/1" routerLinkActive="active">movie 1</a></li>
  <li><a routerLink="/tv/df" routerLinkActive="active">tv error</a></li>
  <li><a routerLink="/tv/1" routerLinkActive="active">tv 1</a></li>
  <li><a routerLink="/tv/1/1" routerLinkActive="active">tv 1 season 1</a></li>
  <li><a routerLink="/tv/1/1/1" routerLinkActive="active">tv 1 season 1 ep 1</a></li>
</ul>
<router-outlet></router-outlet>
